.questionBox{
  background-color: #FFFFFF;
  height: auto;
  width: auto;
  border-radius: 12px;
  padding: 36px 32px;
  margin-bottom: 20px;
}

.questionNumber{
  margin-bottom: 10px;
}

.questionNumber p{
  color: #666666;
  font-size: 15px;
}

.questionBody textarea{
  font-size: 20px;
  height: 24px;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  overflow: hidden;
}