p {
  margin: 0;
  padding: 0;
}

.quiz {
  padding: 20px;
  width: 430px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 12px;
  position: relative;
}

.date {
  color: #666666;
  font-size: 12px;
}

.title {
  font-size: 22px;
}

.description {
  font-size: 17px;
  margin-top: 5px;
}

.action {
  padding-top: auto;
  position: absolute;
  bottom: 20px;
}

.action ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.action ul li {
  margin-right: 40px;
}

.item a {
  color: #000000;
  font-size: 16px;
}