.assignQuizEmployee{
  padding: 12px 40px 12px 20px;
  border: 2px solid #666;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
}

.nameBox{
  display: flex;
  gap: 5px;
}

.nameBox p{
  font-size: 18px;
  color: #000;
}

.position{
  color: #666666;
}

.go{
  margin-left: auto;
}

.go img {
  display: block;
  transform: rotate(180deg);
  width: 18px;
  height: 18px;
}


